
<div class="information col-lg-9">
  <div class="margin-onglet">
  <h3 class="title-onglet" >Informations</h3>

  </div>
  <div class="background-white">
    <div class="row">
      <div class="col-lg-5 display-inline"id="target0987">
        <p>Activitée</p>
        <%= f.object.user_activity.activity.title  %>
      </div>

      <div class="col-lg-7 display-inline">
        <p style="display: inline;">Nombre de participants</p>
        <div class="input-stepper">
          <p class="minus"><i class="fa fa-minus"></i></p>
          <input class="form-control numeric integer optional" type="text" step="1" name="point[number_min]" id="point_number_max">
          <p class="plus"><i class="fa fa-plus"></i></p>
        </div>
        <div class="input-stepper" id="number_max">
          <p class="minus"><i class="fa fa-minus"></i></p>
          <input class="form-control numeric integer optional" type="text" step="1" name="point[number_max]" id="point_number_max">
          <p class="plus"><i class="fa fa-plus"></i></p>
        </div>
        <input type="checkbox" class="form-control-range" id="currently_checked">
        <p>no limit</p>
      </div>
    </div>
    <div class="display-inline">
      <p>Niveau des participants</p>
      <div class="rating">
          <%= render 'user_activities/stars_form', f: f %>
      </div>
      <p>Type de point</p>
      <%= f.input :type_of_point, label: false %>
    </div>
    <div class="display-inline">
      <p>Prix</p>
      <%= f.input :price, as: :integer, label: false %>
    </div>
  </div>



</div>

