  <!-- <small class="text-muted">You can also enter IP. Your IP is <#%= request.ip %></small> -->

<%= simple_form_for @point, url: search_map_point_path(@point), method: :put, remote: false do |f| %>
  <div class="row">
    <div class="col-xs-8">
      <%= f.input :address, input_html: { id: "point_address" }, label: false %>
    </div>
    <div class="col-xs-4">
      <%= f.button :button, class:"btn btn-primary" do %>
        <i class="fas fa-map-marker-alt"></i>
        Localiser
      <% end %>
    </div>

  </div>

<% end %>
