<div class="modal modal-space-1 row fade" id="listParticipantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div id="participants" class="padding-blocks">
    <div class="dimension-onglet">
      <h3 class="title-onglet">Participants</h3>
    </div>
    <div class="modal-content">
      <a class="close cross abs-right-top" data-dismiss="modal" id="close" aria-label="Close">+</a>

      <div class="background-white row">
        <%= render 'participants-selection', f: f %>
      </div>
    </div>
  </div>
</div>
