<div id='drop_<%= point.id %>' class="myModalspe transform-cel">
  <div class="modal-content dim-info-point">
    <a class="close cross abs-right-top" id="close_drop_<%= point.id%>">+</a>
    <%= render 'info-point', point: point %>
  </div>
</div>
