
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPointModal">
  Créer un match
</button>

<% @points.each do |point| %>
  <%= link_to point.user_activity.activity.title, edit_point_path(point) %>
<% end %>



<%= render 'modal-new-point', user: @user, point: @point %>

