.circle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 100%;
  justify-content: center;
}

.icon_activity {
  width: 60px;
}


.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.activity-cards {
  width: 100%;
  overflow-x: auto;
  height: 70vh;
}

.activity-card {
  height: 100px;
  margin: 3%;
  p {
    color: $cp;
    margin: 0;
  }
}
.icon_cercle {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-size: cover !important;
  background-position: center;
  width: 60px;
  height: 60px;
  margin: 5px 0;
}


.blue-background {
  background-color: $light-blue !important;
}
.blue-text {
  color: $light-blue !important;
}

// tab
.cp-tab {
  background-color: $cp;
  a {
    color: $white
  }
  h4 {
    color: $white
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
   background-color: $cp;
  color: $white;
}


.tab-pane {
  background-color: $white;
}
