.circle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  height: 100%;
  justify-content: center;
}

.icon_activity {
  width: 60px;
}


.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.activity-cards {
  width: 100%;
  overflow-x: auto;
  height: 70vh;
}

.activity-card {
  height: 100px;
  background-color: $white;
  margin: 3%;
  p {
    color: $cp;
    margin: 0;
  }
}
.icon_cercle {
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-size: cover !important;
  background-position: center;
  border: white 1px solid;
  width: 60px;
  height: 60px;
  margin: 5px 0;
}
.height-row {
  height: 100%;
}


.blue-background {
  background-color: $light-blue !important;
}


// rating stars

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
