.circle-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  justify-content: center;
}

.icon_activity {
  width: 60px;
}
.background-icon {
  width: 60px;
  height: 60px;
  margin: 5px 0;

}

.icon_cercle {
  border-radius: 50%;
  background-size: cover !important;
  background-position: center;
}


.blue-background {
  background-color: $light-blue !important;
}
.blue-text {
  color: $light-blue !important;
}

// tab
.cp-tab {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $cp;
  flex: 20%;
  a {
    color: $white;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    i {
      margin-right: 3px;
    }
  }
  h4 {
    color: $white;
    font-size: 0.8em;
  }
}
.nav-pills > li:hover a {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $cp !important;
  h4 {
    border-bottom: 2px solid $white;
  }
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: $cp;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: $white;
  h4 {
    border-bottom: 2px solid $white;
  }
}
.nav-pills {
  display: flex;
}

.tab-pane {
  background-color: $white;
}
.tab-content > .active {
  display: block;
  height: 70vh;
  width: 100%;
  overflow-x: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


