#edit-point {
  .background-white {
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
  }
  .form-control {
    font-size: 15px;
  }
}
.title-onglet {
  background-color: $cp;
  color: $white;
  display: inline;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 8px;
}
.margin-onglet {
  margin-top: 10px;
}
.top-bottom-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.five-margin {
  margin-left: 5% !important;
  margin-right: 5% !important;
}
.display-inline {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.info-historic {
  background-color: $orange;
  border-radius: 8px;
  color: $white;
  text-align: center;
}

.historic-btn {
  a {
    position: absolute;
    bottom: -35px;
    left: 3%;
    background-color: $orange;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $white;
    padding: 5px 11px;
  }
  a:hover {
    text-decoration: none;
  }
}
.relative-btn {
    position: relative;
}

.locked-div {
  background-color: #8c8a8a !important;
  opacity: 0.5 !important;
  cursor: no-drop !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

// - + form
.input-stepper {
  display: flex;
  align-items: center;
}

.input-stepper p[disabled] {
  cursor: not-allowed;
  opacity: .4;
}

.input-stepper p i {
   color: $cp;
   margin: 0 5px;
}

.input-stepper input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 20px;
  text-align: center;
  width: 36px;
}
