.background-white {
  background-color: $white;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
}
#edit-point {
  .form-control {
    font-size: 15px;
  }
}

.title-onglet {
  background-color: $cp;
  color: $white;
  display: inline;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 8px;
}
.dimension-onglet {
  height: 28px;
}
.top-bottom-margin {
  margin-top: 10px;
  margin-bottom: 20px;
}
.five-margin {
  margin-left: 5% !important;
  margin-right: 5% !important;
}
.display-inline {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}
.padding-blocks {
  padding: 8px;
}
.info-historic {
  background-color: $orange;
  border-radius: 8px;
  color: $white;
  text-align: center;
}

.historic-btn {
  a {
    position: absolute;
    bottom: -35px;
    left: 3%;
    background-color: $orange;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $white;
    padding: 5px 11px;
  }
  a:hover {
    text-decoration: none;
  }
}
.relative-btn {
    position: relative;
}
.top-right-btn {
  position: absolute;
  bottom: 8px;
  right: 15px;
}

.locked-div {
  background-color: #8c8a8a !important;
  opacity: 0.5 !important;
  cursor: no-drop !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

// - + form
.input-stepper {
  display: flex;
  align-items: center;
}

.input-stepper p[disabled] {
  cursor: not-allowed;
  opacity: .4;
}

.input-stepper p i {
   color: $cp;
   margin: 0 5px;
}

.input-stepper input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 20px;
  text-align: center;
  width: 36px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
.scroll-div {
  overflow: scroll;
}
.participants-fields{
  margin-top: 5px;
  .form-group {
    width: 80%;
  }
}
// .display-new-participant{
//   display: flex;
//   flex-direction: column;
//   align-items: left;
//   justify-content: space-between;
// }
.equipments-fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .form-group {
    width: 70%;
    margin-bottom: 15px;
  }
}
.input-height {
  height: 39px;
}

.column-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .recherche-btn {
    width: 100%;
  }
}
.onglet-participants {
  border: solid $light-gray 1px;
  border-radius: 2px;
  padding: 2%;
  color: $cp;
}
.onglet-participants:hover {
  text-decoration: none;
  color: black;
}
.onglet-participants:active {
  color: black;
}

.new-point {
  position: absolute;
  top: -17px;
  left: 10%;
  padding-left: 10px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
  background-color: #193039ba;
  color: $white;
  border: 2px solid $white;
}
.display-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.position-btn-edit {
  bottom: -125px;
  width: 100%;
  margin: auto;
  right: -100%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    color: $cp;
    margin-left: 2px;
  }
}
#participants {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px){
  .position-btn-edit {
    bottom: -480px;
    right: 0;
  }
}


.icon-count {
  margin: auto;
  p {
    font-size: 50px !important;
  }
  i {
    font-size: 110px;
    color: #1930393d;
  }
}
