<% if user.avatar.present? %>
  <%= cl_image_tag user.avatar, class: "avatar avatar-square"%>
<% else %>
  <div class="avatar avatar-init avatar-square">
    <p><%= user.his_avatar %></p>
  </div>
<% end %>
