<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-xs-12">
    <br>
    <p style="text-align: center; margin-top: 10%; font-size: 20px !important;
}">Bonjour et bienvenu sur Common Point, votre outil pour planifier vos événements entre collègues. Nous sommes actuellement dans la dernière phase de test avant le lancement. Si vous avez des remarques sur la plateforme merci de me les communiquer à l'adresse suivante : <strong>thibaud.goualard@gmail.com.</strong></p>
</div>
