.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.avatar-square {
  height: 30px !important;
  width: 30px !important;
}
.avatar-init {
  background-color: $white;
  padding-left: 4%;
  padding-top: 10%;
  color: $cp;
  font-weight: lighter;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  p {

  }
}
.avatar_and_name {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}
.avatar_and_name_and_stars{
  display: flex;
  align-items: center;
  flex: 90%;
}
