.left-localisation {
  float: left;
  .format-message {
    background-color: $cp;
    color: white;
  }
}

.right-localisation {
  float: right;
  text-align: right;
}

.format-message {
  border: 1px solid $cp;
  border-radius: 20px;
  padding: 5px;
  margin-top: 3px;
}

.message p {
  margin: 0;
}
