  .input-search{
    input {
      height: 50px;
      padding: 1%;
      width: 100%;
      color: $gray;
      border-radius: 5px;
      background-color: $white;
      border: 1px solid rgb(166, 166, 166);
    }
  }
#user_activity-search_bar{
  select{
    height: 50px;
    width: 100%;
    border-radius: 5px;
      background-color: $white;
      border: 1px solid rgb(166, 166, 166);
  }
  .select2{
    .select2-selection--single{
      height: 50px;
      border-radius: 5px;
      background-color: $white;
      border: 1px solid rgb(166, 166, 166);
      .select2-selection__rendered{
        color: black;
        line-height: 48px;
      }
      .select2-selection__arrow{
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .select2-container{
    width: 100% !important;
  }
}

.recherche-btn {
  height: 50px;
  color: white;
  background-color: $light-blue;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}


