// .activity {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 100%;
// }
.activity-card {
  margin: 7% 3%;
  display: block;
  padding: 7px;
  transition: 0.15s;
  border-radius: 2px;
  p {
    color: $cp;
    margin: 0;
  }
  &:hover {
    text-decoration: none;
    box-shadow: 0px 0px 4px $cp;
    cursor: pointer;
  }
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.blue {
  color: $light-blue;
}

