.simple-calendar{
  .table{
    margin-bottom: 0;
  }
}

#pills-home{
  height: unset;
}


.calendar-heading {
  text-align: center;
  span {
    font-weight: 600;
    margin-right: 30px;
    margin-left: 30px;
  }
  a {
    color: $cp;
  }
}

.simple-calendar {
  .day {}

  .wday-0 {
    .transform-cel {
      transform: translate(-413px);
    }
  }
  .wday-1 {
    .transform-cel {
      transform: translate(435px);
    }
  }
  .wday-2 {
    .transform-cel {
      transform: translate(273px);
    }
  }
  .wday-3 {
    .transform-cel {
      transform: translate(-260px);
    }
  }
  .wday-4 {
    .transform-cel {
      transform: translate(0);
    }
  }
  .wday-5 {
    .transform-cel {
      transform: translate(-150px);
    }
  }
  .wday-6 {
    .transform-cel {
      transform: translate(-389px);
    }

  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
