.slidecontainer {
  width: 100%;
  // position: relative;
  height: 50px;
}

.slider {
    -webkit-appearance: none;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: $cp;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 25px;
    background: $cp;
    cursor: pointer;
}
.slider-min {
  width: 100%;
}
.slider-max {
  width: 100%;
}

// .point_level_min{
//   position: absolute;
//   top: 50%;
//   left: 0;
//   width: 100%;
//   input {
//     z-index: 100;
//   }
//   input {
//     z-index: 100;
//   }
// }

// .point_level_max{
//   position: absolute;
//   top: 50%;
//   left: 0;
// }
